# Local/private config goes in the include
[include]
    path = ~/.gitconfig.local
[alias]
    co = checkout
    br = branch
    st = status
    l  = log --color --oneline --graph
    lg = log --color --pretty=format:'%Cred%h%Creset - %Cblue%ad%Creset - %aN - %s' --date=short
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[core]
	excludesfile = /Users/dwchiang/.gitignore_global
	editor = vim
[commit]
    # Ref: https://dev.to/sespinozj/git-write-quality-commits-38ph
	template = ~/.git-commit-template
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[apply]
    whitespace = nowarn
[mergetool]
    keepBackup = false
[difftool]
    prompt = false
[help]
    autocorrect = 1
[push]
    # See `git help config` (search for push.default)
    # for more information on different options of the below setting.
    #
    # Setting to git 2.0 default to suppress warning message
    default = simple
[pull]
    # Since git v2.27
	rebase = false
[user]
	name = Ernest Chiang
	email = dwchiang@gmail.com
	signingkey = 3A6799F6D19F106B
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[gpg]
	program = /opt/homebrew/bin/gpg
